{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Action": "sts:AssumeRoleWithWebIdentity",
			"Effect": "Allow",
			"Principal": {
				"Federated": "${oidc_provider_arn}"
			},
			"Condition": {
				"StringEquals": {
					"${oidc_provider}:sub": "system:serviceaccount:${aws_load_balancer_controller_namespace}:${aws_load_balancer_controller_service_account}"
				}
			}
		}
	]
}
